@import '~style/helpers';

.container { 
	display: flex;
	flex-direction: column;
	background-image: url('../../assets/backgrounds/blueback3.jpg');
	color: #fff;
	width: 414px;
	height: 736px;
	text-align: center;
	margin: 0 auto;
}
.header {
	display: flex;
	flex-direction: column;
	flex: 1;
}
.details {
	flex: 4;
}
.city {
	flex: 1;
	font-size: 1.7em;
	font-weight: 400;	
}
.conditions {
	flex: 1;
	font-size: 1em;
        font-weight: bold;
}
.temperature {
	flex: 2;
	font-size: 4.8em;
	font-weight: 300;
	letter-spacing: -5px;
}
.filled:after {
	content: "°";
	margin: 0 0 0 1rem;
	font-size: 0.5em;
	font-weight: 100;
	display: inline-block;
	padding-top: 1px;
	vertical-align: top;
}
.location {
	font-size: 1em;
        vertical-align: top;
}
tiny {
    font-size: 0.5em;
    
    vertical-align: 28px;
}
.winfo {
    flex: 2;
    flex-direction: column;
    width: 414px;
    height: 120px;
    margin-top: 20px;
}
drop {
    float: left;
    margin: 0 0 0 1rem;
}
    .col1 {
        float: left;
        width: 30%;
        line-height: 0px;
    }

    .col2 {
        float: left;
        width: 30%;
        line-height: 0px;
    }

    .col3 {
        float: left;
        width: 30%;
        line-height: 0px;
    }
    .col4 {
        float: left;
        width: 5%
    }
    .col5 {
        float: left;
        width: 5%
    }
    .borderline
    {
        line-height: 0px;
        margin-top: 20px;
        flex: 2;
        width: 414px;
        height: 20px;
        margin-bottom: -10px;
    }
    subtext
    {
        margin-top: 25px;
        font-weight: bold;
        text-align: auto;
    }
    .mapinfo {
    width: 414px;
    height: 120px;
}
subtext2
    {
        margin-top: 20px;
        font-weight: bold;
        text-align: auto;
        font-size: 30px;
        margin-bottom: 10px;
    }
     .textblock {
    width: 414px;
    height: 120px;
}
.borderline2
    {
        line-height: 0px;
        margin-top: 10px;
        flex: 2;
        width: 414px;
        height: 20px;
        margin-bottom: 0px;
    }
     .ls {
    text-align: left;
    margin-left: 70px;
    line-height: 5px;
}
.leftcol {
        float: left;
        width: 70%;
        line-height: 0px;
    }

    .rightcol {
        float: left;
        width: 30%;
        line-height: 0px;
    }
    .setleft {
        text-align: left;
    }
    
    .h69 {
        margin-top: 45px;
        margin-bottom: -1px;
    }
    
    .navbar {
    width: 414px;
    height: 50px;
}

.navcol {
        float: left;
        width: 20%;
        line-height: 0px;
        height: 45px;
    }